{{ define "css" }}
    {{ range .Resources.Match "*.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
{{ end }}

{{ define "pagetype" }}issue{{ end }}

{{ define "main" }}
<main>
    <div class="issue-summary grid">
        <div class="container">
            <span class="number">{{ i18n "issue" }} {{ .Params.number }}</span>
            {{/* theme needs to be shown with its cluster */}}
            {{ if .Content }}
            <div class="summary">
                {{ .Content }}
                {{ partial "intro-authors" . }}
                {{ partial "translators" . }}
            </div>

            <a href="#features" class="chevron highlight-focus">
                <img src="/img/chevron.svg" alt="skip to featured content"/>
            </a>
            {{ partial "translations.html" . }}
            {{ end }}

        </div>

    </div>
    {{/* list in order by cluster (if any) instead of using features template */}}
    {{ $articles := .Pages.ByParam "order" }}

    {{ range $index, $cluster := .Params.clusters }}
        {{/* odd clusters should be inverted (dark bg); even should not */}}
        {{ $inverted := not (modBool $index 2)}}
        <section class="{{ if $inverted }}inverted{{ end }} grid">
        <div class="wide-container">
            <h2 class="theme">{{ $cluster.title }}</h2>
            {{ with $cluster.editors }}
                <p>Edited by {{ . }}</p>
            {{ end }}
            {{ $clusterArticles := where $articles ".Params.cluster" "eq" $cluster.title}}
            {{ range $clusterArticles }}
                {{ .Render "short_summary" }}
            {{ end }}
        </div>
    </section>
    {{ end }}

    {{/* articles that are not part of a cluster */}}
  {{ $regularArticles := where $articles ".Params.cluster" "eq" nil }}
   {{/* invert if there is an even number of clusters */}}
   {{ $inverted := modBool (len .Params.clusters) 2}}
    <section id="features" aria-label="{{ i18n "features" }}" class="{{ if $inverted }}inverted {{ end }}grid">
        <div class="wide-container">
        {{ range where $regularArticles ".Params.dhqtype" "ne" "review" }}
            {{ .Render "short_summary" }}
        {{ end }}
    </div>

    {{/* reviews */}}
    {{/* NOTE: there is a review type that is sometimes set in xml, but apparently
    the xml toc can supercede that. }}
    {{ $reviews := where $regularArticles ".Params.dhqtype" "eq" "review" }}
    {{ with $reviews }}
    <div class="snippets">
         <h2>Reviews</h2>
        {{ range . }}
            {{ .Render "short_summary" }}
        {{ end }}
    </div>
    </section>
    {{ end }}

    {{/* partial "issue/features.html" . */}}

    {{/* get contributor information from current page OR default language issue */}}
    {{ $credits := newScratch }}
    {{ if .Params.contributors }}
        {{ $credits.Set "contributors" .Params.contributors }}
    {{ else }}
        {{/* If contributors are not set, get default language version of this page.
            Since defaultContentLanguage is not accessible; get first language by priority */}}
        {{ $defaultLang := index .Site.Languages 0 }}
        {{ with index (where .Translations ".Lang" $defaultLang.Lang) 0 }}
            {{ $credits.Set "contributors" .Params.contributors }}
        {{ end }}
    {{ end }}
    {{ if $credits.Get "contributors" }}
    <section class="grid masthead" id="credits">
        <div class="container">
            <h2>{{ i18n "credits" }}</h2>
                {{ range $credits.Get "contributors" }}
                    {{ partial "credits.html" . }}
                {{ end }}
        </div>
    </section>
    {{ end }}

</main>
{{ end }}
