{{ define "pagetype" }}home{{ end }}

{{ define "page_meta" }}
    {{ with .Site.Params.googleSiteVerification -}}
    <meta name="google-site-verification" content="{{ . }}" />
    {{- end }}
{{ end }}

{{ define "main" }}
<main>
    {{/* if not logotype */}}
    <h1>{{ .Site.Title }}</h1>
    {{/* if logotype */}}
    {{/*  <h1 class="sr-only">{{ .Site.Title }}</h1>
    <div class="logotype">
        {{ .Site.Title }}
        {# <img alt="" src="/logotype.svg" /> #}
    </div> */}}
    <div class="issue-summary inverted grid">

        <div class="container">
            {{ partial "translations.html" . }}
            {{/* get issues for the current language; fill in with all issues; then choose the first. */}}
            {{ $issues := where .Site.Pages "Type" "issue" | lang.Merge (where .Site.AllPages "Type" "issue") }}
            {{ $issue := index ($issues) 0 }}
            <span class="number">{{ i18n "issue" }} {{ $issue.Params.number }}</span>
            <h2 class="theme">{{ $issue.Params.theme }}</h2>
            <p class="summary">
                {{ $issue.Summary | plainify }}
                <a class="more highlight-focus" href="{{ $issue.RelPermalink }}">{{ i18n "view-issue" }}</a>
            </p>
        </div>
    </div>
    {{/* just list in order instead of using features template */}}
    <section id="features" aria-label="{{ i18n "features" }}" class="inverted grid">
        <div class="wide-container">
        {{ range sort $issue.Pages ".Params.order" }}
            {{ .Render "short_summary" }}
        {{ end }}
    </div>
    </section>

    {{ with .Site.GetPage "/about" }}
    <div class="content grid">
        <div class="text-container">
            <a aria-label="{{ .Params.title }}" class="more highlight-focus" href="{{ .RelPermalink }}">
                {{ .Summary }}
            </a>
        </div>
    </div>
    {{ end }}
</main>
{{ end }}